.articles-title {
  padding: 10px 0px;
  background-color: #0059AF;
  margin-bottom: 30px;
  h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 18px;
    margin-bottom: 0px;
  }
}
