<%= render 'shared/navbar' %>
<div class="article-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559526324-c1f275fbfa32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div>
    <h1>NOVEDADES</h1>
  </div>
</div>
<div class="about-title">
  <h2>Ultimas Novedades</h2>
  <h5></h5>
</div>
<% if user_signed_in? %>
<div class="p-5 text-center">
  <%= link_to 'Crear Noticia', new_article_path, class: 'btn-dark btn-lg btn-block'  %>
</div>
<% else %>
<% end %>
<div class="article-wrapper">
  <div class="article-main-container">
    <% @articles.each do |article| %>
    <%= render 'shared/articles_card', article: article %>
    <% end %>
  </div>
  <div class="p-5 text-center">
    <%= link_to 'Volver', root_path, class: 'btn-main'  %>
  </div>
</div>
