<div class='contact-container'>
  <div class="pb-3">
    <h3>Informacion General</h3>
    <h4></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse at sunt aut, ipsa eum, eveniet suscipit ab alias, deserunt, velit sapiente optio illo?</p>
    <div class="d-flex align-items-center mt-3">
      <div class="icon-container pr-2">
        <p><i class="fas fa-map-marker-alt"></i></p>
        <p><i class="fas fa-phone"></i></p>
        <p><i class="fas fa-envelope"></i></p>
      </div>
      <div class="info-content">
        <p>San martin 550, San Miguel de Tucuman.</p>
        <p>+54 9 381734949</p>
        <p>clinicairis@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="pb-3">
    <h3>Horario de atencion</h3>
    <h4></h4>
    <p><strong>Lunes a Viernes:</strong>  9:00hs a 19:30hs</p>
    <p><strong>Sabados:</strong> 9:30hs a 13:00hs</p>
  </div>
  <h3>Formas de pago</h3>
  <h4></h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse at sunt aut, ipsa eum, eveniet suscipit ab alias, deserunt, velit sapiente optio illo? Culpa quos deserunt alias tempora recusandae quaerat.</p>
</div>
