<div class="footer">
  <div class="footer-links">
    <% if user_signed_in? %>
    <% else %>
    <p><%= link_to "Login", new_user_session_path %></p>
    <p>-</p>
    <% end %>
    <p><%= link_to 'Contacto', new_contact_path %></p>
    <p>-</p>
    <p><%= link_to 'Direcciones', new_contact_path %></p>
  </div>
  <div class="footer-copyright">
    Made By <i class="fas fa-chess-king"></i> <a href="#">GW-WEB</a>
  </div>
</div>
