<div class="top-wrapper">
  <div class="links-top p-0 d-flex align-items-center">
    <%= link_to '#contact' do %>
    <i class="fas fa-map-marker-alt"></i>
    <% end %>
    <div class="d-none d-sm-block p-0">
     <p>Laprida 340 Tucuman</p>
    </div>
  </div>
  <div class="links-top">
    <a href="#" target='_blank'>
      <i class="fab fa-facebook"></i>
    </a>
    <a href="#" target='_blank'>
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" target='_blank'>
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</div>
