<%= render 'shared/navbar' %>
<div class="banner-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <h1>QUIENES SOMOS?</h1>
</div>
<div class="about-title">
  <h2>Optica Iris</h2>
  <h5></h5>
</div>
<div class="about-container">
  <div class="about-content">
    <img src="https://images.unsplash.com/photo-1486250944723-86bca2b15b06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="">
    <div class="about-text d-flex justify-content-center align-items-center">
      <div>
        <h2>Nuestra Empresa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae non architecto soluta eos aspernatur recusandae voluptatum deserunt cumque tempora sit, quidem officiis beatae voluptas magnam tenetur illo minus consequatur?</p>
      </div>
    </div>
  </div>
  <div class="about-content">
    <div class="about-text d-flex justify-content-center align-items-center">
      <div>
        <h2>Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestiae non architecto soluta eos aspernatur recusandae voluptatum deserunt cumque tempora sit, quidem officiis beatae voluptas magnam tenetur illo minus consequatur?</p>
      </div>
    </div>
    <img src="https://images.unsplash.com/photo-1547104442-9f0af4f37a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80" alt="">
  </div>
</div>
