<%= render 'shared/navbar' %>
<div class="contact-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">
</div>
<div class="about-title">
  <h2>CONTACTENOS</h2>
  <h5></h5>
</div>
<div class="contact-wrapper">
  <div class="pr-3 pl-3">
    <%= render 'form' %>
  </div>
  <div class="p-3">
    <%= render 'shared/contact' %>
  </div>
</div>


