<%= render 'shared/navbar' %>
<h2 class='text-center pt-3'>CONTACTENOS</h2>
<h4 class="border-form"></h4>
<div class="contact-wrapper">
  <div class="pr-3 pl-3">
    <%= render 'form' %>
  </div>
  <div class="p-3">
    <%= render 'shared/contact' %>
  </div>
</div>


